.map__wrapper {
  @include cssLock("margin-top", 360, 1920, ($gutter_num * 3, $gutter_num * 4));
  @include cssLock("padding-top", 360, 1920, ($gutter_num * 3, $gutter_num * 15));
  @include cssLock("padding-bottom", 360, 1920, ($gutter_num * 3, $gutter_num * 5));
  @include cssLock("max-width", 360, 1920, ($gutter_num, $gutter_num * 117.5));

  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin: 0 auto;

  @include media(lg) {
    flex-direction: row;
  }

  .map-article {
    margin-left: $gutter*40;
  }
}
