.menu-fair-play-menu-container {
  @include cssLock("margin-top", 360, 1920, ($gutter_num * 5, $gutter_num * 4));

  width: 100%;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  text-align: center;
}

.social-media {
  display: flex;
  list-style: none;
  max-width: $gutter * 25;
  align-items: center;
  padding: 0;

  &__item {
    align-items: center;
  }

  &__icon {
    @extend .icons;

    @include cssLock("padding-left", 360, 1920, ($gutter_num * 1, 1.5));
    @include cssLock("padding-right", 360, 1920, ($gutter_num * 1, 1.5));

    color: color(primary);

    &:hover {
      color: color(special);
      transition: $transition;
    }
  }
}
