.section {
  width: 100%;

  &__header {
    @include cssLock(
      "max-width",
      360,
      1920,
      ($gutter_num * 40, $gutter_num * 80)
    );
    @include cssLock(
      "padding-top",
      360,
      1920,
      ($gutter_num * 2, $gutter_num * 7)
    );
    @include cssLock(
      "padding-bottom",
      360,
      1920,
      ($gutter_num * 2, $gutter_num * 7)
    );

    margin: 0 auto;
  }

  &__title {
    @extend .title;

    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}
